
body {
    margin: 0px;
    padding: 0px;
  }
.gambar-navbar
{
    width: 100px;
}

.hover:hover
{
    filter: grayscale(0.8);
}

.bg-gelap
{
    background-color: #181818;
}

.bg-gold
{
    background-color: #FFC94A;
}



.text-gold{
    color: #FFC94A !important;
}

.btn-gold
{
    color: black;
    font-weight: bold;
    background-color: #FFC94A;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 15px;
    padding-left:15px;
    border-radius: 10px;
}
.btn-dark   
{
    color: #FFC94A;
    font-weight: bold;
    background-color: #181818;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 15px;
    padding-left:15px;
    border-radius: 10px;
}

.btn-gold:hover{
    color: black;
    background-color: #cd9f32;
}

a{
    text-decoration: none;

}

a:link { 
    text-decoration: none; 
  }

.hr-gold
{
    background-color: #FFC94A;
    color: #FFC94A;
    text-decoration: none;
}

.bg-jumbotron
{
    background-image: url(../img/bg.jpg);
    background-size: cover;
    backdrop-filter: grayscale(100%);    
    height: 600px;
}

.navbar-toggler-icon {
    background-image: url("../img/togle.png") !important;
    width: 100%x;
}

/* Mengubah warna latar belakang toggle button menjadi hitam */

